/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.idea
/.vscode
/.phpunit.result.cache
composer.phar
npm-debug.log
yarn-error.log

# Ignore all files in storage except .gitkeep
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitkeep
!/storage/app/public/theme/
!/storage/app/public/product/
!/storage/app/public/category/
!/storage/app/public/customer/
!/storage/app/public/velocity/
/storage/app/public/theme/*
/storage/app/public/product/*
/storage/app/public/category/*
/storage/app/public/customer/*
/storage/app/public/velocity/*
!/storage/app/public/*/.gitkeep

/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/debugbar/*
!/storage/debugbar/.gitkeep